.App {
  position: relative;
  max-width: 100%;
  min-width: 1000px;
}

body {
  background-color: gold;
}
a{
  text-decoration: none;
  color: whitesmoke
}

button {
  font-size: calc(10px + 2vmin);
}

.Navbar{
position: relative;
top:0px;
color: White;
width: 100%;
height:150px;

}

.nav{
  position: relative;
  display: inline;
  top: -50px;
  margin-left: 50px;
  font-size: larger;
}


.searchInput{
  width: 20%;
  height: 25px;
  margin-left: 25px;
  margin-right: 20px;
}

.homeimage1{
  margin: 20px;
}

.image1text{
  display: inline-block;
  position: relative;
  width: 25%;
  padding: 25px;
  top: -100px;
 
}

.homestartbutton{
  background-color: black;
  padding: 10px;
  width: 85px;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;

}

