.App {
  position: relative;
  max-width: 100%;
  min-width: 1000px;
}

body {
  background-color: gold;
}
a {
  text-decoration: none;
  color: whitesmoke;
}

button {
  font-size: calc(10px + 2vmin);
}

.Navbar {
  
  top: 0px;
  
  width: 100%;
  z-index: 999;
}

.Logo {
  width: 250px;
}

.nav {
  position: relative;
  display: inline-block;
  text-align: center;
  top: -30px;
  padding: 30px;
  width: 10%;
}

.nav:hover {
  text-shadow: 0 0 15px #b5b0b0;
  font-weight: bolder;
}

.belowNav {
  position: absolute;
  top:90px;
  width: 100%;
}

.searchInput {
  width: 20%;
  height: 25px;
  margin-left: 25px;
  margin-right: 20px;
}

.homeimage1 {
  width: 100%;
}

.image1textcontainer {
  position: relative;
  left: 40%;
  width: 50%;
  padding: 50px;
  margin-top: -50%;
  height: 100%;
  background: rgba(1, 0, 0, 0.5);
 
  
}

.image1text{
  position: relative;
  top: 50%;
  left: 5%;
  width: 80%;
  color: white;
  margin-top: 0%;
  opacity: 1;
  z-index: 10;
  line-height: 200%;
  text-align: left;
  font-weight: 250;
}

.homestartbutton {
  position: relative;
  background-color: gold;
  padding: 15px;
  width: 90px;
  left: 60%;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  color: black;
  z-index: 10;
  
}

.homevideo {
  width: 100%;
  background-size: cover;
  z-index: -1;
}

/* .card-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 1rem;
} */