.App {
  position: relative;
  max-width: 100%;
  min-width: 1000px;
}

body {
  background-color: gold;
}
a {
  text-decoration: none;
  color: whitesmoke;
}

button {
  font-size: calc(10px + 2vmin);
}

.Navbar {
  position: relative;
  top: 0px;
  color: White;
  width: 100%;
  height: 150px;
}

.nav {
  position: relative;
  display: inline;
  top: -50px;
  margin-left: 50px;
  font-size: larger;
}

.nav:hover {
  text-shadow: 0 0 7px #b5b0b0;
  font-weight: bolder;
}

.searchInput {
  width: 20%;
  height: 25px;
  margin-left: 25px;
  margin-right: 20px;
}

.homeimage1 {
  width: 100%;
}

.image1textcontainer {
  
  position: relative;
  padding: 50px;
  margin-top: -40%;
  
  height: 100%;
  background: rgba(1, 0, 0, 0.5);
  
  text-align: center;
  
}

.image1text{
  position: relative;
  top: 50%;
  width: 60%;
  color: white;
  margin-top: 0%;
  opacity: 1;
  z-index: 10;
  line-height: 200%;
  text-align: left;
  font-weight: 250;
}

.homestartbutton {
  position: relative;
  background-color: gold;
  padding: 15px;
  width: 90px;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  color: black;
  z-index: 10;
  
}

.homevideo {
  width: 100%;
  background-size: cover;
  z-index: -1;
}
